body {
    margin: 0;
}

#main {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
}

#left, #right {
    height: 100%;
}

#left {
    position: relative;
    width: 55%;
}

#right {
    width: 45%;
    background-color: #EEE;
    overflow-y: scroll;
}

#left .cm-editor {
    height: 100%;
    outline: 0;
}

/* resize bar */

#mid {
    width: 4px;
    background-color: #DDD;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    cursor: col-resize;
}

/* elltwo */

.block {
    padding: 10px;
    margin: 10px;
}

/* svg icons */

#icon-bar {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0px;
    right: 5px;
    z-index: 10;
}

svg.icon {
    padding: 3px;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: #EEE;
    cursor: pointer;
    fill: none;
    stroke: black;
}

svg.icon.fill {
    fill: #AAA;
}

#copy {
    fill: white;
}

svg.icon:active {
    background-color: #DDD;
}

svg.icon:hover {
    background-color: #CCC;
}

#download-popup {
    display: flex;
    gap: 5px;
    flex-direction: column;
    position: absolute;
    bottom: 5px;
    right: 0px;
    z-index: 20;
    visibility: hidden;
}

#download-section:hover > #download-popup {
    visibility: visible;
}
