/* search specific css */

#search-bar {
    width: calc(100%-30px);
    height: 25px;
    padding: 15px;
    border-bottom: 1px solid var(--search-border-color);
    background-color: #DDD;
    border-radius: 5px 5px 0 0;
}

#search-query {
    width: 100%;
    border: 0;
    font-size: 20px;
    color: black;
}

[contenteditable] {
    outline: none;
}

#search-create {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 17.5px;
    right: 17.5px;
    width: 20px;
    height: 20px;
    color: white;
    background-color: var(--neon-blue);
    border-radius: 2px;
    cursor: default;
    opacity: 0.85;
}

#search-results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100%-30px);
    height: calc(100%-25px);
    overflow: auto;
}

.result-line {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #DDD;
    padding: 15px;
    user-select: none;
}

.result-line:hover {
    background-color: #EEE;
}

.result-doc {
    color: white;
    background-color: var(--neon-blue);
    opacity: 0.75;
    padding: 0px 2px;
    border-radius: 2px;
}

.result-line.selected {
    background-color: #EEE;
}
